* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --c-black : #343a40;
  --c-white : white;
  --c-input-border-outline : #d9d9d9;
  --c-input-focus : #494f55;
  --c-header : antiquewhite;
  --c-bg-1 : #eee;
  --c-font-color-1 : #777;
  --c-bg-2 : #494f55;
  --c-weekend-color : #f54545dc;

}

// for printing 
@page {
  size: 339mm 350mm;
  height: 350mm;
  width: 339mm;
  margin: 0;
  
}
*, body, html {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
}

// end downloading

ul {
  list-style-type: none;
}

body {
  font-family: Verdana, sans-serif;
  background: var(--c-bg-2);
  padding-bottom: 2em;
}

// header - navigation

header {
  background: #343a40 !important;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width:300px ;
  

  nav {
    width: 95%;
    margin: auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-logo-link {
      text-decoration: none;
    }

    .site-logo {
      font-size: 24px;
      font-weight: 500;
      color: var(--c-white);
    }

    .nav-right {
      ul {
        list-style: none;
        display: flex;

        li {
          margin-left: 1.5em;
          color: var(--c-white);
          a {
            color: var(--c-white);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Search selected year and download

.search-selected-year-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto;
  width: 95%;

  .search {
    width: 150px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input {
      width: 70%;
      height: 35px;
      border-radius: 4px;
      padding-left: 1em;
      border: 0.5px solid var(--c-input-border-outline);
      outline-color: var(--c-input-border-outline);

      opacity: 0.7;
      &:focus {
        outline-color: var(--c-input-focus);
        opacity: 1;
      }
    }
  }

  .selected-year {
    text-align: center;

    p {
      font-size: 22px;
    }
  }

  .download {
    width: 120px;
    padding: 0.5em 1em;
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .download:hover
  {
    transform: scale(1.1);
  }
}

//Calender header
.calender-header
{

  .calender-header-year{
  text-align: center;
  color: var(--c-header);}
}

// Calender container

.calender-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  width: 95%;
  gap: 1.33%;

  border-radius: 4px;
  margin: 2em auto;

  
}



.month {
  min-width: 300px;
}

.month {
  width: 100%;

  .year-month-name {
    margin: 0.5em 0;
    font-weight: 500;
    opacity: 0.7;
    width: 100%;
    color: var(--c-white);
    font-size: 13px;
  }

  .week-day-names {
    background: var(--c-black);
    padding: 1em;
    border-radius: 4px 4px 0 0;

    ul {
      display: grid;
      grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%;
      li {
        text-align: center;
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
  .days {
    background: var(--c-bg-1);
    border-radius: 0 0 4px 4px;
    padding: 10px 0;
    height: 300px;
  }

  .week-days {
    padding: 0.5em 1em;
    ul {
      display: grid;
      grid-template-columns: 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857% 14.2857142857%;

      li {
        color: var(--c-font-color-1);
        font-size: 13px;
        text-align: center;
        margin-bottom: 0.5em;
        padding: 0.3em;
        border-radius: 4px;

        cursor: pointer;

        &:hover {
          color: var(--c-white) !important;
          background: var(--c-black) ;
        }
      }
    }
  }
}

.weekend-color{
  color:var(--c-weekday-color) !important;
}

.weekend-current-date{
  background:var(--c-weekend-color) !important;
  color:var(--c-white);

}
.weekend-color{
  color: var(--c-weekend-color) !important;
  &:hover{
    @extend .weekend-current-date;
  }
}

.active {
  color: var(--c-white) !important;
  background: var(--c-black);
}

.empty-blocks {
  all: unset !important;
}

// media queries

@media only screen and (max-width: 1300px) {
  .calender-container {
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
  }
}
@media only screen and (max-width: 1000px) {
  .calender-container {
    grid-template-columns: 49% 49%;
    gap: 2%;
  }
}
@media only screen and (max-width: 650px) {
  .calender-container {
    grid-template-columns: 100%;
    gap: 1em;
  }
}
